.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 180px;
}


.bunners__banner__container{
    position: absolute;
    top: 60px;
    left: 60px;
}


.banners__banner {
    position: relative;
    height: 500px;
    border-radius: 4px;
}


.banners__banner:nth-child(odd){
    margin-right: 16px;
}

.undertitle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.banners__banner__title {

    font-size: 32px;
    font-weight: 900;
}

.banners__banner__button {

    font-size: 14px;
    font-weight: 700;
}

.banners__banner__subtitle{
    margin-top: 70px;
    font-size: 14px;
}

.countdown{
    display: flex;
    justify-content: space-between;
    width: 209px;
    margin-top: 12px;
}

.inner{
    display: inline;
}

.count{
    font-size: 28px;
    text-align: center;
    margin-bottom: 4px;
    font-weight: 700;
}

.banners__banner__button img{
    margin-left: 10px;
}